.custom-btn { 
    display: flex; 
    padding: 0.6rem; 
    font-family: 'Poppins', sans-serif;
    padding-left: 1.6rem; 
    padding-right: 1.6rem; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

