.file-input-wrapper { 
    display: flex;
    grid-column: 1/-1;
    grid-row: 3/-1; 
    width: 100%; 
    height: auto; 
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.file-input-wrapper .prompt { 
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem; 
    max-width: 600px;
}
.file-input-wrapper .file-drop-region { 
    display: flex; 
    flex-direction: column;
    width: 100%;
    max-width: 600px; 
    height: 250px;
    background-color: #dadada;
    border: 1px solid black; 
    margin-top: 2.2rem; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0 0.8rem 0; 
    transition: all ease-out 0.3s; 
}
.file-input-wrapper .file-drop-region .description { 
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 1rem;  
    font-family: 'Poppins', sans-serif;
}
.file-input-wrapper .file-drop-region .description #line1 {
    font-weight: 600; 
    font-size: 1.4rem; 
 }
.file-input-wrapper .file-drop-region .description #line2 { 
    font-weight: 400; 
    font-size: 1.1rem; 
}
.file-input-wrapper .file-drop-region .description #line3 { 
    font-weight: 600; 
    font-size: 1.4rem; 
    color: rgba(5, 21, 159, 0.73);
}
.file-input-wrapper .position-controllers { 
    margin-top: 3rem; 
    margin-bottom: 3rem; 
    display: flex;   
}
.file-input-wrapper .position-controllers * { 
    margin: 1rem; 
}
@media only screen and (min-height: 750px) {
    .file-input-wrapper { 
        height: calc(100vh - 81px); 
        justify-content: center;
        max-height: 800px;
    }
}
@media only screen and (max-width: 350px) {
    .file-input-wrapper .position-controllers { 
        flex-direction: column;
    }
    .file-input-wrapper .position-controllers * { 
        margin: 0.5rem; 
    }
}