.qa-wrapper { 
    display: flex;
    grid-column: 1/-1;
    grid-row: 3/-1; 
    width: 100%; 
    height: auto; 
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.qa-wrapper .prompt { 
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem; 
    max-width: 600px;
}
.qa-wrapper .question-input { 
    padding: 1rem;
    width: 100%; 
    max-width: 700px;
    height: 200px; 
    margin-top: 2rem; 
    border: none; 
    border: 1px solid black; 
    background-color: #f3f2f28d;
    resize: none; 
    overflow-y: scroll; 
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s; 
}
.qa-wrapper .question-input:focus { 
    outline: none !important; 
    box-shadow: 0 0 5px #3c3b3b51; 
}
.qa-wrapper .position-controllers { 
    display: flex;
    margin-top: 2.5rem; 
    margin-bottom: 2.6rem; 
}
.qa-wrapper .position-controllers .custom-back-btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0.25rem; 
    padding: 1rem; 
    background-color: rgba(0, 0, 0, 0.8);
}
.qa-wrapper .answer-text { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 2rem; 
    text-align: justify;
    font-size: 1.1rem; 
    max-width: 700px;
}
.qa-wrapper .try-another-btn { 
    display: flex; 
    width: 100%; 
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.631);
    padding: 0.5rem 2rem 0.5rem 2rem; 
    color: black;
    border: 1px solid black; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: all cubic-bezier(0.23, 1, 0.320, 1)  0.3s;
}
.qa-wrapper .try-another-btn:hover { 
    background-color: white;
}

@media only screen and (min-height: 750px) and (max-height: 1000px ) and (min-width: 780px) {
    .qa-wrapper { 
        height: calc(100vh - 81px); 
        justify-content: center;
        max-height: 800px;
    }
}
@media only screen and (min-width: 700px) {
    .qa-wrapper .try-another-btn { 
        max-width: 300px; 
    }
}