.step-one-wrapper { 
    grid-column: 1/-1;
    grid-row: 3/-1; 
    width: 100%; 
    height: auto; 
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;

    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.step-one-wrapper .prompt {  
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem; 
}
.step-one-wrapper .mob-input-options {
    display: flex; 
    flex-direction: column;
    padding: 15px; 
    align-items: center;
    margin-top: 1.5rem; 
}  
.step-one-wrapper .mob-input-options .h-option-divider {  
    width: 82%; 
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.127);
}
.step-one-wrapper .mob-input-options .option-wrapper {  
    display: flex; 
    width: 100%; 
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    cursor: pointer; 
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border-radius: 1rem; 
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
}
.step-one-wrapper .mob-input-options .option-wrapper:hover {  
    background-color: rgba(224, 224, 224, 0.35);
}
.step-one-wrapper .mob-input-options .option-wrapper:active {  
    background-color: rgb(208, 207, 207);
}
.step-one-wrapper .mob-input-options .option-wrapper .option-frame-container {  
    display: flex;
    width: 110px; 
    height: 100px; 
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    border: 1px solid black; 
    border-radius: 32px;
}

.step-one-wrapper .position-controllers {
    display: flex; 
    width: 100%;
    justify-content: center;
    margin-top: 5.5rem; 
    margin-bottom: 2rem; 
}


/* media queries */ 
@media only screen and (max-width: 400px) {
    .step-one-wrapper .mob-input-options .option-wrapper {  
        font-size: 1rem;
    }
}
@media only screen and (max-width: 370px) {
    
    .step-one-wrapper .mob-input-options .option-wrapper {  
        font-size: 0.9rem;
    }
}