.text-input-wrapper { 
    display: flex;
    grid-column: 1/-1;
    grid-row: 3/-1; 
    width: 100%; 
    height: auto; 
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;   
}
.text-input-wrapper .prompt {  
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem; 
    max-width: 700px;
}
.text-input-wrapper .input-textarea {  
    padding: 1rem;
    width: 100%; 
    max-width: 700px;
    height: 400px; 
    margin-top: 2rem; 
    border: none; 
    border: 1px solid black; 
    background-color: #f3f2f28d;
    resize: none; 
    overflow-y: scroll; 
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s; 
}
.text-input-wrapper .input-textarea:focus { 
    outline: none !important; 
    box-shadow: 0 0 5px #3c3b3b51; 
}
.text-input-wrapper .position-controllers { 
    margin-top: 3rem; 
    margin-bottom: 2rem; 
    display: flex;   
} 
.text-input-wrapper .position-controllers * { 
    margin: 1rem; 
}
@media only screen and (min-height: 750px) {
    .text-input-wrapper { 
        height: calc(100vh - 81px); 
        justify-content: center;
        max-height: 800px;
    }
}
@media only screen and (max-width: 350px) {
    .text-input-wrapper .position-controllers { 
        flex-direction: column;
    }
    .text-input-wrapper .position-controllers * { 
        margin: 0.5rem; 
    }
}



/* progress view */ 
.progress-wrapper { 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%; 
    max-width: 700px;
    height: 400px; 
    margin-top: 2rem; 
    border: none; 
    border: 1px solid black; 
    background-color: #f3f2f28d;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}
